@model IEnumerable<Adresar.Models.Kontakt>

@{
    ViewBag.Title = "Index";
}

<h2>Adresar</h2>

<p>
    @Html.ActionLink("Unesi novi kontakt", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Promjeni", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
